/* HomeScreen.css */

.home-screen {
  background-color: #dfebf8;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HomeScreen.css */

.box {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  padding: 2em;
  width: 60%;
  margin: 0 auto; /* Center the box horizontally */
  margin-top: 20px; /* Add margin as needed */
  height: 60%;

}

.top-bar {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'DM Sans', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 300;
}

.blurb {
  font-family: 'DM Sans', sans-serif;
  text-transform: lowercase;
  font-size: 56px; /* You can adjust the font size as needed */
  color: #051923;
  text-align: center;
  margin-top: 20px; /* Add margin to separate it from the title */
}

.components-container {
  display: flex;
  justify-content: space-between; /* or any other alignment as needed */
  align-items: flex-start; /* adjust alignment as needed */
  margin-top: 15px; /* add margin as needed */
  margin-left: 10%;
  margin-right: 10%;
  height: 90%;
}

.components-container > div {
  margin: 0 10px; /* Add horizontal margin between the components as needed */
}

.generate-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.generate-button {
  background-color: #051923;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 19px;
  height: 50px;
  width: 40%;
  cursor: pointer;
}

.generate-button:hover {
  background-color: #0b3447;
} 

.load-text {
  font-family: 'DM Sans', sans-serif;
  text-transform: lowercase;
  font-size: 25px;
  color: #230505;
  text-align: center;
  font-style: italic;
}



